/*css particular*/

/* CSS GERAL*/
#block_usuario{
  border: none !important;
}
.alert{
  text-align: center !important;
}
#topo_principal{
  width: 90%;
  margin: 20px auto;
}
.button_action:hover{
  text-decoration: none;
}
/* Fim css geral*/

/* Pagina inicial de login */

#form_login{
  width: 830px;
  margin: 0 auto;
  text-align: center;
}
#form_login h2{
  margin-bottom: 40px;
}
#form_login input{
  margin-bottom: 10px;
}

/* Final da pagina de login*/

/* CSS geral para pagina após logado */

#container-geral{
  width: 70%;
  margin: 50px auto;
}
#container-central{
  border: 1px solid #000;
  width: 70%;
  margin-left: 14%;
}
#topo-logado p{
  font-size: 25px;
}
#topo-logado p.titulo-principal{
  font-weight: bold;
}

/* Final da pagina pós logado*/

/* Usuários */

#titulo_usuario{
  width: 90%;
  margin: 30px auto 10px auto;
}
#block_usuario{
    border: 1px solid #000;
    width: 90%;
    margin: 0 auto 30px auto;
    padding: 20px;
}
#block_usuario input, #block_usuario select, #block_usuario textarea{
  display: block;
  margin: 5px;
  width: 200px;
}
#block_usuario select{
  background: #FFF;
  height: 28px;
}
#mapa_cei{
  width: 90%;
  margin: 0 auto 20px auto;
}
/* Final usuários */

/* Empreendimentos */

.empreendimento_row{
  border: 1px solid #000;
  margin: 0 5px;
  padding-top: 7px;
}
.empreendimento_row_green{
  border: 1px solid #000;
  margin: 0 5px;
  padding-top: 7px;
  background: rgba(112,219,147,0.2);
}
.selo_gamification_pequeno{
  border: 1px solid #000;
  width: 60%;
  height: 90px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.visualizar_dados{
  vertical-align: middle;
  display: table-cell;
  height: 75px;
}
.sobrescrito_empreendimento{
  font-size: 10px;
}
/* Final empreendimentos*/

/* Faturamento */
.block_nota{
  border: 1px solid #000;
  width: 90%;
  margin: 10px auto;
}
.block_nota input{
  width: 300px;
}
/* Final faturamento */

/* Patrimônio */
.patrimonio_row{
  border-bottom: 1px solid #000 !important;
}

.patrimonio_row:hover{
  background: #CCCCCC;
}
/* Final Patrimônio */
